<div class="container">
  <div class= "content">
  <h1>Stupid Coaching</h1>
  <div class= "box">
  <h3><%= @question %></h3>
  <p> - You </p>
  </div>
    <div class= "box yellow">
    <h3><%= @answer %></h3>
    <p> - Your coach</p>
    </div>
  <h4><%= link_to "Ask a new question", ask_path %></h4>
  </div>
</div>
